@import "../../palette";


.order-group {
  display: flex;
  flex-direction: column;

  * {
    font-size: 12px;
  }

  .order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

    .order-type, span, .anton-button, h5 {
      flex: 1;
      text-align: left;
    }

    &.sub {
      background-color: #f1f1f1;
      &.hide {
        display: none;
      }
    }

    .anton-button {
      &.icon {
        background: transparent!important;
        color: $primary-color-dark;
      }
    }
  }

}

@media only screen and (max-width: 768px) { //mobile
  .parent-order {
    display: none;
  }
}
