.anton-card {
  transition: .3s ease all;
}

.anton-button.icon {
  color: #fff;
}

.sub-card-header {
  h2 {
    font-size: 21px;
  }
}


form {
  .button {
    &.email {
      background: #e65100!important;
    }
  }
}
