@import "../../palette";

$height: calc(80vh - 69px);

.orders-layout {
  width: 100%;
  height: $height;
  display: flex;
  flex-direction: row;
  .mobile-bar {
    display: none;
  }
  .sidenav {
    width: 150px;
    height: $height;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    z-index: 10;

    select {
      width: calc(100% - 10px);
      margin-left: 5px;
      margin-top: 5px;
      padding: 5px;
      border: 1px solid #d1d1d1;
      border-radius: 3px;

      &:focus, &:active {
        outline: none;
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      a {
        padding: 10px;
        text-decoration: none;
      }
      .active {
        border-left: 4px solid $primary-color;
        font-weight: bold;
        background-color: #f1f1f1;
      }
    }
  }

  .view {
    .footer {
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    }
  }

}

@media only screen and (max-width: 768px) { //mobile
  .orders-layout {
    flex-direction: column;
    .sidenav {
      display: none;
    }
    .mobile-bar {
      display: flex;
      justify-content: space-evenly;
      padding: 5px;
      select {
        padding: 8px;
        flex: 1;
        max-width: 200px;
      }
    }
  }

}
