.anton-button.icon {
  color: #fff;
}

.button {
  &.telegram, &.email {
    flex: 1;
  }
  &.telegram {
    background: #0088CC!important;
    margin-right: 10px;
  }

  &.email {
    background: #e65100!important;
    margin-left: 10px;
  }

}
