@import "../../palette";

body {
  margin: 0;
}
.gradient {
  padding-bottom: 100px;
  background: linear-gradient(#fff, $primary-color-transparent);
}

.counters {
  margin: 0 auto!important;
  width: 90%;
  display: flex;
  max-width: 900px;
  justify-content: space-between;
  flex-direction: row;
  height: 200px;
  font-size: 20px;
  padding-bottom: 50px;
  .glow-card {
    flex: 1;
    margin-left: 10px;
    min-height: 70px;
  }
}

.home-row {
  padding: 25px;
  padding-right: 0;
  padding-top: 0;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1000px;

  .card-plain {
    z-index: 1;
    max-width: 500px;
    max-height: 300px;
    position: relative;
    margin-top: 100px;
  }

  .image {
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    max-width: 800px;
    margin-left: 40px;
    flex: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &.reverse {
    flex-direction: row-reverse;
    padding-right: 20px;
    padding-left: 0;
    .image {
      margin-left: 0;
      margin-right: 40px;
    }
  }
}

.slogan {
  max-width: 500px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.units-explain, .abstract {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  span {
    color: $primary-color;
    font-weight: bold;
  }
  p {
    font-size: 20px;
  }
}

.prices-section {
  padding-top: 220px;
  position: relative;

  .prices-title {
    color: #000;
    text-align: center;
    font-weight: bolder;
    z-index: 10;
  }

  .prices {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
    .space-hole {
      max-width: 300px;
      flex: 1;
    }
  }

}

@media only screen and (max-width: 768px) { //mobile
  .home-row {
    flex-direction: column-reverse;
    padding: 25px!important;

    &.reverse {
      flex-direction: column-reverse;
    }

    .card-plain {
      margin-top: 0;
      max-width: 2000px;
    }

    .image {
      transform: translate(5%, 2%);
      z-index: 0;
      margin-left: 0!important;
      height: 250px;
      flex: none;
      width: 90%;
    }
  }
  .units-explain, .abstract {
    max-width: none;
  }
  .prices-section {
    .prices {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 15px;
      .space-hole {
        flex: 1;
        display: block;
        margin: 0 auto;
      }
    }
  }


  .counters {
    flex-direction: column;
    max-width: 500px;
    justify-content: space-around;
    font-size: 15px;
    height: auto;
  }
  .glow-card {
    flex: 1;
    margin-left: 0;
  }
}

